In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("energydata.csv")

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
X = df['T2'].values.reshape(-1, 1)  # Input feature: Temperature in living room (T2)
y = df['T6'].values  # Target variable: Temperature outside the building (T6)

In [7]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [8]:
y_pred = model.predict(X)
r2 = r2_score(y, y_pred)
r2_rounded = round(r2, 2)
print("R^2 value:", r2_rounded)

R^2 value: 0.64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

In [10]:
columns_to_remove = ["date", "lights"]
df = df.drop(columns_to_remove, axis=1)

In [11]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [12]:
X = df.drop("Appliances", axis=1)
y = df["Appliances"]

In [13]:
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X) # Normalize the features
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)   # Calculate the mean absolute error
mae_rounded = round(mae, 2)            
print("Mean Absolute Error:", mae_rounded)

Mean Absolute Error: 53.64

In [15]:
import numpy as np

In [18]:
mae = np.mean(abs(y_test-y_pred))  
round(mae, 2)

53.64

In [19]:
residuals = y_test - y_pred  #Calculating the RSS
rss = (residuals ** 2).sum()
rss_rounded = round(rss, 2)
print("Residual Sum of Squares:", rss_rounded)

Residual Sum of Squares: 51918501.21

In [20]:
from sklearn.metrics import mean_squared_error
import math

In [21]:
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
rmse_rounded = round(rmse, 3)
print("Root Mean Squared Error:", rmse_rounded)

Root Mean Squared Error: 93.64

In [22]:
feature_weights = model.coef_

# Creating a DataFrame to store the feature names and their corresponding weights
weights_df = pd.DataFrame({'Feature': X.columns, 'Weight': feature_weights})

# Sorting the DataFrame by the absolute values of the weights
weights_df['Absolute_Weight'] = abs(weights_df['Weight'])
weights_df = weights_df.sort_values('Absolute_Weight', ascending=True)

# Getting the feature with the lowest weight
lowest_weight_feature = weights_df.iloc[0]['Feature']

# Getting the feature with the highest weight
highest_weight_feature = weights_df.iloc[-1]['Feature']

print("Feature with the lowest weight:", lowest_weight_feature)
print("Feature with the highest weight:", highest_weight_feature)

Feature with the lowest weight: rv2
Feature with the highest weight: RH_1

In [23]:
r_squared = model.score(X_test, y_test)
r_squared_rounded = round(r_squared, 2)

print("Coefficient of Determination (R-squared):", r_squared_rounded)

Coefficient of Determination (R-squared): 0.15

In [24]:
from sklearn.linear_model import Ridge

# Creating an instance of the Ridge Regression model with alpha = 0.4
ridge_model = Ridge(alpha=0.4)

# Fitting the Ridge Regression model on the training data
ridge_model.fit(X_train, y_train)

# Predicting the target variable on the test set
y_pred_ridge = ridge_model.predict(X_test)

# Calculating the Root Mean Squared Error (RMSE) for Ridge Regression
rmse_ridge = math.sqrt(mean_squared_error(y_test, y_pred_ridge))
rmse_ridge_rounded = round(rmse_ridge, 3)

print("RMSE for Ridge Regression (alpha=0.4):", rmse_ridge_rounded)

RMSE for Ridge Regression (alpha=0.4): 93.661

In [25]:
rmse_change = rmse_ridge - rmse
rmse_change_rounded = round(rmse_change, 3)

print("Change in RMSE (Ridge Regression - Linear Regression):", rmse_change_rounded)

Change in RMSE (Ridge Regression - Linear Regression): 0.021

In [26]:
from sklearn.linear_model import Lasso

# Creating an instance of the Lasso Regression model with alpha = 0.001
lasso_model = Lasso(alpha=0.001)

# Fitting the Lasso Regression model on the training data
lasso_model.fit(X_train, y_train)

# Obtaining the feature weights from the Lasso Regression model
feature_weights_lasso = lasso_model.coef_

# Counting the number of features with non-zero weights
num_nonzero_weights = sum(feature_weights_lasso != 0)

print("Number of features with non-zero weights:", num_nonzero_weights)

Number of features with non-zero weights: 26

In [27]:
from sklearn.metrics import mean_squared_error

# Predicting the target variable on the test set using the Lasso Regression model
y_pred_lasso = lasso_model.predict(X_test)

# Calculating the RMSE for the Lasso Regression model
rmse_lasso = mean_squared_error(y_test, y_pred_lasso, squared=False)
rmse_lasso_rounded = round(rmse_lasso, 3)

print("RMSE for Lasso Regression:", rmse_lasso_rounded)

RMSE for Lasso Regression: 93.641